<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developing Speaking</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<header>
    <h1><a href="/">Developing Speaking: A Tech Blog</a></h1>
    <nav class="nav">
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <a id="logout" href="/logout">Logout</button></a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
</header>

<body>
    <div class="wrapper">
        <main>
            {{{ body }}}
        </main>

        <footer>
            <p>Thanks for visiting!</p>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>